
.candidate-initials {
    text-transform: capitalize;
    font-size: 3em;
    background-color: #3F51B5;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 2.1em;
    color: #DFDFF9;
    margin-bottom: 20px;

}

.candidate__contact-information {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px
}

.contact-information__icon {
    text-align: center;
    margin-bottom: 10px;
}

.contact-information__icon svg {
    width: 30px !important;
    height: 30px !important;
    color: #3F51B5    !important;
}

.contact-information__data {
    display: block;
    width: 100%;
    text-align: center;
}