.recruitment-appbar {
    background-image: url(https://pre00.deviantart.net/9393/th/pre/f/2015/341/d/6/flat_landscape__winter_edition__by_jovicasmileski-d9jbz70.jpg);
    background-position-x: center;
}
.content-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-card {
    margin-top: -90px;
    min-height: 300px;
}

.recruitment-cards {
    display: flex;
}

.content-card__header {
    display: flex;
    flex-direction: row;
}

.content-card__header__fab {
    width: 60px;
}

.content-card__header__fab__button {
    position: absolute;
    margin-top: 60px;
    margin-left: 20px;
}

@media screen and (min-width: 100px) {
    .recruitment-appbar {
        height: 300px;
        background-size: 250%;
        background-position-y: 80%;
    }
    .content-card {
        width: 100%;
    }
    .recruitment-cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 500px) {
    .recruitment-appbar {
        height: 400px;
        background-size: cover;
        background-position-y: 70%;
    }
    .content-card {
        width: 90%;
    }

    .recruitment-cards {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 30px;
    }
}