.single-recruitment-card {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    border-radius: 2px;
    margin: 10px;
    overflow: hidden;
    transition-duration: .3s;
    color: #000000;
    cursor: pointer;
}
.single-recruitment-card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 17px, rgba(0, 0, 0, 0.22) 0px 1px 5px;
}

.single-recruitment-card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.single-recruitment-card__summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.single-recruitment-card__summary__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-recruitment-card__summary__info div {
    width: 40%;
    padding: 15px;
}

@media screen and (min-width: 100px) {
    .single-recruitment-card {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .single-recruitment-card {
        width: calc(50% - 20px);
    }
}