.board-column {
    background-color: #d0d0d0;
    margin: 0 5px;
}

.board-column {
    min-width: 300px;
}

.board-column__candidates {
    height: 100%;
    min-height: 500px;
    background-color: #dfdfdf;
}


.board-column--highlighted {
    background-color: #80DEEA;
}

.candidate-card:hover {
    background-color: #f0f0f0 !important;
}