.proposal-category-attachment-card {
    margin: 15px;
    min-width: 250px
}

.proposal-category-attachment-card .attachment-card__icon {
    width: 100%; 
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.attachment-card__banner {
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100px;
}


.proposal-category-attachment-card .attachment-card__filename {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}