.align--right {
    display: flex;
    justify-content: flex-end;
}

.letter-spacing--large input {
    letter-spacing: 8px
}

.login-page__login-form {
    width: 100%;
}

@media only screen and (min-width: 650px) {
    .login-page__login-form {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .login-page__login-form {
        width: 35%;
    }
}
