.login-page__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    padding: 15px;
    background: #EaF9FF;
    border-radius: 3px 3px 0 0;
}

.login-page__header * {
    display: flex;
    justify-content: center;
    margin: 0;
}

.login-header__image-container {
    border: solid #dd4f4f 1px;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 50%
}
