.login-error__wrapper {
    overflow-y: hidden;
    height: 30px;
}

.login-error__message {
    display: flex;
    align-items: center;
    height: 30px;
    transform: translate(0, -30px);
    transition-duration: .3s;
}

.login-error__message * {
    color: #df2525 !important;
    padding: 0 3px 0 0;
}

.login-error__message--closed {
    transform: translate(0, 0)
}

.login-error__message *:not(:first-child) {
    padding: 0 3px;
}
