.menu__close-button-wrapper {
    display: flex;
    flex-direction: column
}
.atherios-layout__drawer {
    min-height: 100vh !important;
}


@media screen and (min-width: 100px) {
    .atherios-layout__drawer {
        width: 100% !important;
    }
}

@media screen and (min-width: 500px) {
    .mobile--only {
        display: none !important;
    }
    .atherios-layout__drawer {
        position: relative !important;
        transform: translate(0, 0) !important;
        width: 300px !important;
    }
}
.atherios-drawer__menu {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.menu__close-button {
    border-radius: 0 !important;
    height: 60px !important;
    position: absolute !important;
    bottom: 0;
    background-color: #404040 !important;
    color: #dcdcdc !important;
}

.menu__close-button svg {
    fill: #dcdcdc !important;
}

.atherios-drawer__user-profile {
    background: url(http://www.guoguiyan.com/data/out/124/69405656-material-wallpapers.png);
    background-size: cover;
    background-color: #404040 !important;
    display: flex;
    flex-direction: column;
    color: #dcdcdc !important;
}

.user-profile__avatar {
    padding: 25px 15px;
    display: flex;
    justify-content: center;
}

.user-profile__name {
    padding: 10px;
    background: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}