.proposal-category-card {
    width: 30%;
    margin: 10px;
    transition-duration: .3s;
    cursor: pointer;
}

/* .proposal-category-card:hover {
    transform: scale(1.02)
} */

.proposal-category__stats {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.proposal-category__stats .stats__number {
    font-size: 3em;
    margin: 10px 0;
}

.proposal-category__stats .stats__label {
    margin-bottom: 20px;
    color: #808080;
}

.proposal-category-card__header {
    align-items: center;
}